body{
    background-color: aqua;
    margin: 10px auto;
}

div{
    display: flex;
    flex-shrink: 0;
    justify-content: center; 
    background-color: green;
    border: 1px solid black;
    margin: 10px;
    width: 30%;
    flex-wrap: wrap;
}

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

p{
    display: flex;
    text-align: center;
}
